
.profile-pic{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @media (max-width: 768px){
        height: 34px;
        width: 34px;
    }
}
.profile-name{
    font-size: 12px;
    font-weight: bold;
}
.row-main{
    padding-top: 20px;
    @media (max-width: 768px){
        padding-top: 0px;
    }
    
}
.back-icon{
    height: 26px;
    width: 26px;
}
.name-outer{
    align-items: center;
    display: flex;
}
.header-icon{
    height: 20px;
    width: 20px;
}
.header-icon-outer{
    align-items: center;
    display: flex;
}
.header-icon-ow{
    width: 100%;
}
.typing{
    color:#EC3D08;
    font-size: 12px;
}
.chat-date{
    margin: 0 auto;
    font-size: 14px;
    color: #B4B4B4;
}
.outer-container-chat-row{
    padding-top: 30px;
    margin-bottom: 52px;
    padding-bottom: 44px;
    @media (max-width: 768px){
        padding: 0 10px;
    }
}
.chat-me{
    background-color: #e1d9ce;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px;
    width: fit-content;
    float: right;
}
.chat-other{
    background-color: #fcfaf7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
    width: fit-content;
    float: left;
}
.my-img{
    border-radius: 50%;
    height: 34px;
    width: 34px;
    position: absolute;
    bottom: 0;
    @media (max-width: 768px){
        height: 28px;
        width: 28px;
    }
}
.pofile-pic{
    border-radius: 50%;
    height: 42px;
    width: 42px;
}
.outer-indv{
    width: 100%;
    margin: 20px 0px;
    @media (max-width: 768px){
        margin: 0px;
    }
}
.me-chat-profile-pic,.other-chat-profile-pic{
    position: relative;
}
.type-message{
    left: unset;
    position: fixed;
    width: 45.6%;
    bottom: 0;
    outline: none;
    border: none;
    height: 52px;
    border-top: 1px solid #c1c1c1;
    padding-left: 50px;
    padding-right: 50px;
}
.emoji-img{
    position: fixed;
    bottom: 10px;
    height: 30px;
    width: 30px;
    left: 33.5%;
}
.send-img{
    position: fixed;
    bottom: 10px;
    height: 30px;
    width: 30px;
    right: 22.5%;
}

@media only screen and (max-width: 768px){
    .type-message{
        width: 100%;
        left: 0;
    }
    .emoji-img{
        left: 10px;
    }
    .send-img{
        right: 10px;
    }
}